@{
    ViewData["Title"] = "Search";
    @model BookCategoryViewModel;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <form></form>



    <ul>@foreach(var item in Model.Books)
        {
            item.ToString();
        }
        </ul>
    <P></P>
</div>
